body {
    margin: 2%;
}

.titulo-pagina {
    font-size: large;
}

.titulo {
    padding: 0 5px 5px;
    background: rgba(0, 151, 156, 0.5);
}

.titulo h3 {
    margin-bottom: 0;
    text-transform: capitalize;
}

.titulo a {
    text-decoration: none;
    font-size: small;
}